---
layout: default
---
{% comment %}
    Credits to http://jrper.github.io/2018/04/03/AddingTags.html.
{% endcomment %}

{% assign tags = "" | split: "" %}
{% for tag_with_posts in site.tags %}
    {% assign tags = tags | push: tag_with_posts[0] %}
{% endfor %}
{% assign sorted_tags = tags | sort_natural %}
{% for tag in sorted_tags %}
    {% assign posts = site.tags[tag] %}
    <div class="p-category" itemprop="tag">
        <a id="{{ tag }}" href="/tags#{{ tag }}">{{ tag }} ({{ posts.size }})</a>
    </div>
    <ul>
        {% for post in posts %}
            <li>
                <span itemprop="title" itemscope itemtype="https://schema.org/BlogPosting">
                    <a class="p-name" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endfor %}